@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(29, 29, 29);
}

::selection {
    color: #fff;
    background: #d4392e;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.header {
    grid-area: 1 / 1 / 2 / 4;
}

.content {
    grid-area: 2 / 1 / 3 / 4;
}

.leitfrage {
    grid-area: 3 / 1 / 4 / 2;
}

.thesis {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lehrprojekt {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    

li, a, button,p {
    text-decoration: none;
    color: white;
    margin-left: 8px;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

h1
{
    position: absolute;
    top: 17%;
    left: 65vh;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.logo {
    cursor: pointer;
    width: 100px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 50px;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
  }

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #d4392e;
}

.active {
    color:#ffa7a7;
}

button {
    position: absolute;
    top: 5%;
    right: 3%;
    padding: 9px 25px;
    background-color: #DB281C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: #a01f16; 
  }




  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 100px;
}

.content {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.qr-image-me img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin: 0 auto;
    margin-left: 20%;
    transform: rotate(-5deg);
}

.text-left,
.text-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 10% auto;
    align-self: flex-end;
}



.text-left p,
.text-right p {
    margin: 0;
    font-weight: 300;
    margin-left: -100px;
    margin-right: 50px;
}

.title-section {
    position:absolute;
    top: 10%;
    left: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

.highlight {
    background-color: #d4392e;
}

.fixed-text-background {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Applying Google Font */
    z-index: 99; /* Ensure it appears above other elements */
    transform: rotate(+3deg);
}

.leitfrage,
.thesis,
.lehrprojekt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.leitfrage {
    margin-top:-200px;
}

.lehrprojekt {
    margin-top:-200px;
    
}

.icon-bachelor {
    position: absolute;
    top: 50%;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: moveImageBachelor 3s infinite alternate-reverse -0.01s;
}

.icon-fragezeichen {
    position: relative;
    top: 5%;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: moveImageQuestion 3s infinite alternate-reverse -0.03s;
}

.icon-lehrprojekt {
    position: relative;
    top:5%;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: moveImageLehrprojekt 3s infinite alternate-reverse -0.5s;
}

.undericon {
margin-top: 85%;
font-weight: 300;
overflow: hidden;
width: 90%;
font-weight: 300;
}

.undericon-fragezeichen {
    margin-top: 20%;
    overflow: hidden;
    width: 70%;
    font-weight: 300;
    }

.undericon-bachelor {
    margin-top: 20%;
    overflow: hidden;
    width: 70%;
    font-weight: 300;
    }

.undericon-lehrprojekt {
    margin-top: 20%;
    overflow: hidden;
    width: 70%;
    font-weight: 300;
      }

.fragenstellung {

        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-top: 20px;
        color: white;
    
}

.about {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: 0px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 300;
}

@keyframes moveImageQuestion {
    to {
        transform: translateY(-10px) rotate(5deg);
    }
}

@keyframes moveImageBachelor {
    to {
        transform: translateY(15px) rotate(-5deg);
    }
}

@keyframes moveImageLehrprojekt {
    to {
        transform: translateY(-20px) rotate(3deg);
    }
}

