body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: var(--background-color);
}

img {
    max-width: 200px;
    height: auto;
    margin: 20px 0;
}

#status {
    font-size: 18px;
    color: red;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#mobile-warning {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
}


@media (max-width: 768px) {

    #mobile-warning {
        display: block;
    }
}