@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #000d36;
  color: white;
}

#canvas {
  background: #fff;
  margin-left: 50%;
  margin-top: -100px;
  transform: translateX(-50%);
}

#game_over {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
}

#score {
  position: absolute;
  font-size: larger;
  top: 75px;
  right: 9%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #cccccc;
  padding: 12px;
  border-radius: 25px;
  box-shadow: inset 0 0 8px lightcoral;
  color: #cccccc;
}

#high-score {
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: yellow;
  font-family: "Press Start 2P", cursive;
}

#controls {
  position: absolute;
  top: 50%;
  left: 7%;
  display: flex;
  flex-direction: column;
}

#control-keys {
  top: 200px;
  right: 7%;
  position: absolute;
  color: #ccccccd7;
  padding: 12px;
  font-size: 1.2em;
  line-height: 48px;
  box-shadow: 0 0 8px lightcoral;
}

#control-head {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.control-item {
  padding-bottom: 5px;
  text-align: center;
}

.control-key {
  padding-left: 10px;
}

#reset,
#show-grid,
.pause-active {
  background: #000000;
  color: #cccccc;
  border-radius: 25px;
  width: 250px;
  padding: 12px;
  margin-top: 18px;
  box-shadow: 0 0 3px lightcoral;
  font-size: 0.8em;
  font-weight: bold;
  transition: box-shadow 0.3s;
  text-shadow: 0 0 8px lightsalmon;
  text-transform: uppercase;
}

.pause-not-active {
  background:rgba(212, 57, 46, 0.);
  box-shadow: none;
  color: #cccccc;
  border-radius: 25px;
  width: 250px;
  padding: 12px;
  margin-top: 18px;
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 0 0 8px lightsalmon;
  text-transform: uppercase;
}

#reset:hover,
#show-grid:hover,
.pause-active:hover {
  box-shadow: 0 0 12px rgb(255, 255, 255);
  color:  lightsalmon;
}

#play {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Press Start 2P", cursive;
  font-size: 1.3em;
  padding: 20px;
  color: lightgreen;
  animation: animate-play 1.4s linear infinite;
}

@keyframes animate-play {
  0% {
    text-shadow: 0 0 4px lightgreen;
  }
  50% {
    text-shadow: 0 0 8px lightgreen;
  }
  100% {
    text-shadow: 0 0 4px lightgreen;
  }
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .header { grid-area: 1 / 1 / 2 / 6; }
  .content { grid-area: 2 / 1 / 5 / 6; }
  .leaderboard { grid-area: 5 / 1 / 6 / 6; }

body
{
}

li, a, button,p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.title-snake{
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-top: 1.5%;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.title-snake:hover{
  color: #d4392e;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}


button {
  padding: 9px 25px;
  background-color: rgba(212, 57, 46, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(212, 57, 46, 0.8);
}

.logo {
  cursor: pointer;
  width: 100px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 50px;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}









body{
  font-family: sans-serif;
  margin: 0;
  background-color: #000;
  overflow-x: hidden;
}
.leaderboard{
  position: fixed;
  top: 50%; /* Change the top value */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  width: 90vw; /* Adjust the width as needed */
  max-width: 55em;
  display: block;
  padding: 1em;
  padding-top: 2em;
  display: none;
}
.theme-img{
  width: 20em;
  border-radius: 10px;
}
.description{
  display: inline-block;
  text-align: center;
  margin: 1em;
  color: white;
  transform: translateY(-5em);
}

table{
  margin-top: 2em;
  width: 50em;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
table thead{
  opacity: .8;
}
table img{
  width:2em;
  height: 2em;
  border-radius: 100%;

}
table td{
  max-width: 2em;
  padding: .5em;
  text-align: center;
}
tbody tr{
  box-shadow: 0 2px rgba(100,100,100,.5);
  border-radius: 10px;
}
tbody tr:hover{
  transform: scale(1.025);
  transition: .2s ease-in-out;
}
tbody tr td:nth-child(2) p{
  display: inline-block;
  transform: translateY(-.5em);
  padding-left: .5em;
  text-align: left;
}
table td:nth-child(2){
  max-width: 5em;
}
tbody tr:nth-child(even){
  background-color: #101;
}
#winner{
  color: gold;
  font-weight: 800;
}
#runner-up{
  color: silver;
  font-weight: 800;

}
#second-runner-up{
  color: #cd7f32;
  font-weight: 800;
}

h3{
padding: 20px;
}